<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>servlet2</display-name>
  <context-param>
    <param-name>savepath</param-name>
    <param-value>d:/app/</param-value>
  </context-param>
  <listener>
    <listener-class>session.ContextListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>TestInitParam</servlet-name>
  	<servlet-class>session.TestInitParam</servlet-class>
  	<!-- 设置参数 -->
  	<init-param>
  		<param-name>user</param-name>
  		<param-value>admin</param-value>
  	</init-param>
  	<init-param>
  		<param-name>user1</param-name>
  		<param-value>admin1</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>TestInitParam</servlet-name>
  	<url-pattern>/TestInitParam</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>